<article class="about-hero w-full h-auto bg-cover bg-center padding-h py-8"
    [style.background]="'url(assets/images/backgrounds/b9.webp)'">

    <section class="w-full flex flex-column align-items-center justify-content-center">
        <h1 class="text-white text-7x" data-aos="fade-down" data-aos-duration="1000">
            Sobre nosotros <span class="txt--yellow font-light">₿</span>
        </h1>

        <p class="text-white text-xl lg:text-2xl mb-6 mt-3 opacity-50 text-center" data-aos="fade-down" data-aos-duration="1000">
            Creemos que el acceso a Bitcoin debe ser simple, directo y para todos.
        </p>

        <div class="w-full lg:w-6 h-20rem overflow-hidden border-round-3xl flex-1 justify-content-center"
            data-aos="fade-up">
            <img alt="About Us Image" class="w-full h-auto lg:h-full border-round-3xl" data-aos="zoom-in" data-aos-duration="1000"
                src="assets/images/k1-mini/logo-kiosko-ani.webp">
        </div>
    </section>

    <section class="w-full lg:w-6 flex flex-column align-items-center justify-content-center py-6 gap-6 mx-auto"
             data-aos="fade-up" data-aos-duration="1000">
        <p class="text-white text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, necessitatibus perspiciatis fuga quo nulla obcaecati incidunt rerum. Eos explicabo minus eligendi id magni impedit nisi. Illo corrupti quaerat minus asperiores.
        </p>

        <p class="text-white text-xl">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, harum debitis. Similique voluptates debitis tempore deleniti rerum nam ratione, soluta ipsa ipsum dolore quia illum, dignissimos explicabo excepturi accusamus animi!
        </p>

        <p class="text-white text-xl">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, harum debitis. Similique voluptates debitis tempore deleniti rerum nam ratione, soluta ipsa ipsum dolore quia illum, dignissimos explicabo excepturi accusamus animi!
        </p>
    </section>
</article>