<footer class="text-center footer text-white">
    <h4 class="pt-6 font-normal txt--yellow" data-aos="fade-up">
        Síguenos en:
    </h4>

    <div class="flex justify-content-center gap-4 lg:gap-6 pt-6 pb-8" data-aos="fade-up">
        <a href="https://www.facebook.com/profile.php?id=61576014429305" target="_blank" rel="noopener noreferrer">
            <p-button icon="pi pi-facebook text-2xl" severity="info" />
        </a>

        <a href="https://www.instagram.com/kiosco.bitcoin" target="_blank" rel="noopener noreferrer">
            <p-button icon="pi pi-instagram text-2xl" severity="danger" />
        </a>

        <a href="https://www.tiktok.com/@btckiosco.1" target="_blank" rel="noopener noreferrer">
            <p-button icon="pi pi-tiktok text-2xl" severity="help" />
        </a>

        <a href="https://kiosco.bitcoin.org.bo/" target="_blank" rel="noopener noreferrer">
            <p-button icon="pi pi-shop text-2xl" severity="warn" />
        </a>
    </div>

    <div class="text-center text-white p-3 footer__year">
        <small>
            © {{currentYear}} Kiosko Bitcoin
        </small>
    </div>
</footer>